<h2 class="d-block p-2 bg-primary text-white">Ask your coach anything</h2>

<form class="form-group align-items-center" action="answer" data-turbo="false">
  <div class="input-group mb-3">
    <input class="form-control" type="text" name="question" placeholder="Your question here">
    <button class="form-control btn btn-outline-info btn-lg" type="submit">Ask!</button>
  </div>
</form>
